<div ng-controller="packageConfigCtrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="accordion-style1 panel-group accordion-style2" id="accordion">
                <accordion close-others="true">

                    <!--accordion-group is-open="serverAccordion.open" ng-init="serverAccordion.open=true">
                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right" ng-class="{'fa-angle-down': status1.open, 'fa-angle-right': !status1.open}"></i> Server Credentials
                        </accordion-heading>
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">Username</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="col-xs-10 col-sm-5" placeholder="Username" id="server-username" ng-model="server_credentials.username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="col-xs-10 col-sm-5" placeholder="Password" id="server-password" ng-model="server_credentials.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">Confirm Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="col-xs-10 col-sm-5" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </accordion-group-->

                    <accordion-group is-open="serviceAccordion.open" ng-if="currentAdapterName != 'ceph_firefly'">

                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right" ng-class="{'fa-angle-down': serviceAccordion.open, 'fa-angle-right': !serviceAccordion.open}"></i> OpenStack Database &amp; Queue Credentials
                        </accordion-heading>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="table table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form name="serviceCredForm">
                                            <a href="#">
                                                <tr ng-repeat="(service, credential) in service_credentials">
                                                    <td>
                                                        <span>{{service}}</span>
                                                    </td>
                                                    <td>
                                                        <span ng-hide="editServiceMode[$index]">{{credential.username}}</span>
                                                        <input ng-show="editServiceMode[$index]" ng-model="credential.username" placeholder="Username" type="text" ng-required />
                                                    </td>
                                                    <td>
                                                        <span ng-hide="editServiceMode[$index]">{{credential.password}}</span>
                                                        <input ng-show="editServiceMode[$index]" ng-model="credential.password" placeholder="Password" type="password" ng-required />
                                                        <input ng-show="editServiceMode[$index]" placeholder="Confirm Password" type="password" ng-required />
                                                    </td>
                                                    <td>
                                                        <!--edit button-->
                                                        <button ng-hide="editServiceMode[$index]" ng-click="editServiceMode[$index] = true; sEdit($index)" class="btn btn-xs btn-success border-radius-4">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </button>
                                                        <!--save button -->
                                                        <button ng-show="editServiceMode[$index]" ng-click="editServiceMode[$index] = false; sSave()" class="btn btn-xs btn-primary border-radius-4">
                                                            <i class="ace-icon fa fa-check bigger-120"></i>
                                                        </button>
                                                        <!--cancel button -->
                                                        <button ng-show="editServiceMode[$index]" ng-click="editServiceMode[$index] = false; sReset()" class="btn btn-xs btn-danger border-radius-4">
                                                            <i class="ace-icon fa fa-times bigger-120"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </a>
                                        </form>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>

                    </accordion-group>

                    <accordion-group is-open="mgmtAccordion.open" ng-if="currentAdapterName != 'ceph_firefly'">
                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right" ng-class="{'fa-angle-down': mgmtAccordion.open, 'fa-angle-right': !mgmtAccordion.open}"></i> OpenStack Keystone User Credentials
                        </accordion-heading>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="table table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form name="managementCredForm">
                                            <tr ng-repeat="(service, credential) in console_credentials">
                                                <td>
                                                    <span ng-hide="editMgntMode[$index]">{{service}}</span>
                                                    <input ng-show="editMgntMode[$index]" ng-model="service" placeholder="Service" type="text" ng-required />
                                                </td>
                                                <td>
                                                    <span ng-hide="editMgntMode[$index]">{{credential.username}}</span>
                                                    <input ng-show="editMgntMode[$index]" ng-model="credential.username" placeholder="Username" type="text" ng-required />
                                                </td>
                                                <td>
                                                    <span ng-hide="editMgntMode[$index]">{{credential.password}}</span>
                                                    <input ng-show="editMgntMode[$index]" ng-model="credential.password" placeholder="Password" type="password" ng-required />
                                                    <input ng-show="editMgntMode[$index]" placeholder="Confirm Password" type="password" ng-required />
                                                </td>
                                                <td>
                                                    <!--edit button-->
                                                    <button ng-hide="editMgntMode[$index]" ng-click="mEdit($index)" class="btn btn-xs btn-success border-radius-4">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </button>
                                                    <!--save button-->
                                                    <button ng-show="editMgntMode[$index]" ng-click="editMgntMode[$index] = false; mSave()" class="btn btn-xs btn-primary border-radius-4">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>
                                                    <!--cancel button-->
                                                    <button ng-show="editMgntMode[$index]" ng-click="editMgntMode[$index] = false; mReset()" class="btn btn-xs btn-default btn-danger border-radius-4">
                                                        <i class="ace-icon fa fa-times bigger-120"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </form>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="cephAccordion.open" ng-if="currentAdapterName == 'ceph_openstack_icehouse' || currentAdapterName == 'ceph_firefly'">
                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right" ng-class="{'fa-angle-down': cephAccordion.open, 'fa-angle-right': !cephAccordion.open}"></i> Ceph Global Configurations
                        </accordion-heading>
                        <div class="row">
                            <div class="col-xs-12">
                                <form id="form.cephForm" name="form.cephForm" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                OSD Pool PG Number
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-8">
                                                <input ng-model="cephConfig.global_config.osd_pool_pg_num" type="text" class="col-xs-10 col-sm-5" placeholder="OSD Pool PG Number" name="osd_pool_pg_num" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                OSD Pool PGP Number
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-8">
                                                <input ng-model="cephConfig.global_config.osd_pool_pgp_num" type="text" class="col-xs-10 col-sm-5" placeholder="OSD Pool PGP Number" name="osd_pool_pgp_num" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                OSD Pool Size
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-8">
                                                <input ng-model="cephConfig.global_config.osd_pool_size" type="text" class="col-xs-10 col-sm-5" placeholder="OSD Pool Size" name="osd_pool_size" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                Journal Size
                                                <span class="text-danger opacity-zero">*</span>
                                            </label>
                                            <div class="col-sm-8">
                                                <input ng-model="cephConfig.osd_config.journal_size" type="text" class="col-xs-10 col-sm-5" placeholder="Journal Size" name="journal_size">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                OP Threads
                                                <span class="text-danger opacity-zero">*</span>
                                            </label>
                                            <div class="col-sm-8">
                                                <input ng-model="cephConfig.osd_config.op_threads" type="number" class="col-xs-10 col-sm-5" placeholder="OP Threads" name="op_threads">
                                            </div>
                                        </div>
                                    </div>
                                    <!--div class="form-group">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                OSD Devices
                                                <span class="text-danger opacity-zero">*</span>
                                            </label>
                                            <div class="col-sm-8">
                                                <input ng-model="cephConfig.osd_devices" type="text" class="col-xs-5 col-sm-2" placeholder="Device" name="device">
                                                <input ng-model="cephConfig.journals" type="text" class="col-xs-5 col-sm-3" placeholder="Journal" name="journal">
                                                <span class="col-xs-2 col-sm-3"-->
                                    <!--Add Action-->
                                    <!--span class="action" ng-click="addValue('dns_servers')">
                                                        <i class="fa fa-plus-circle bigger-140 blue"></i>
                                                    </span-->
                                    <!--Remove Action-->
                                    <!--span ng-show="general.dns_servers.length > 1" class="action" ng-click="general.dns_servers.splice($index,1)">
                                                        <i class="fa fa-minus-circle bigger-140 blue"></i>
                                                    </span-->
                                    <!--/span>
                                            </div>
                                        </div>
                                    </div-->

                                </form>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group ng-if="currentAdapterName == 'ceph_openstack_icehouse' || currentAdapterName == 'openstack_icehouse'">
                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right"></i> Neutron Configuration
                        </accordion-heading>

                        <div class="row">
                            <div class="col-xs-12">
                                <form id="form.neutronForm" name="form.neutronForm" class="form-horizontal" role="form">

                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                Tenant Network Type:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-8">
                                            <!-- ng-init="neutron_config.openvswitch.tenant_network_type='gre'" -->
                                                <select ng-model="neutron_config.openvswitch.tenant_network_type" name="tenant" class="col-xs-10 col-sm-5">
                                                    <option value="gre" ng-selected="neutron_config.openvswitch.tenant_network_type == 'gre'">gre</option>
                                                    <option value="vlan" ng-selected="neutron_config.openvswitch.tenant_network_type == 'vlan'">vlan</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="neutron_config.openvswitch.tenant_network_type=='gre'" ng-repeat="tunnel_id in neutron_config.openvswitch.tunnel_id_ranges track by $index">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                <span ng-if="$index==0">
                                                        Tunnel ID Ranges:
                                                    <span class="text-danger">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-8" style="margin-bottom: 10px;">
                                                <input ng-model="neutron_config.openvswitch.tunnel_id_ranges[$index]" type="text" class="col-xs-10 col-sm-5" placeholder="TunnelID" name="tunnel_id" required>
                                                <span class="col-xs-2 col-sm-3">
                                                        <!--Add Action-->
                                                        <span class="action" ng-click="addValue('tunnel_id_ranges')">
                                                            <i class="fa fa-plus-circle bigger-140 blue"></i>
                                                         </span>
                                                <!--Remove Action-->
                                                <span ng-show="neutron_config.openvswitch.tunnel_id_ranges.length > 1" class="action" ng-click="neutron_config.openvswitch.tunnel_id_ranges.splice($index,1)">
                                                        <i class="fa fa-minus-circle bigger-140 blue"></i>
                                                         </span>
                                                <!-- hint -->
                                                <span style="margin-left: 20px; color: #AEAEAE;">e.g. 1:1000</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="neutron_config.openvswitch.tenant_network_type=='vlan'" ng-repeat="vlan in neutron_config.openvswitch.network_vlan_ranges track by $index">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                <span ng-if="$index==0">
                                                        Network Vlan Ranges:
                                                    <span class="text-danger">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-8" style="margin-bottom: 10px;">
                                                <input ng-model="neutron_config.openvswitch.network_vlan_ranges[$index]" type="text" class="col-xs-10 col-sm-5" placeholder="VlanRanges" name="vlan" required>
                                                <span class="col-xs-2 col-sm-3">
                                                        <!--Add Action-->
                                                        <span class="action" ng-click="addValue('network_vlan_ranges')">
                                                            <i class="fa fa-plus-circle bigger-140 blue"></i>
                                                         </span>
                                                <!--Remove Action-->
                                                <span ng-show="neutron_config.openvswitch.network_vlan_ranges.length > 1" class="action" ng-click="neutron_config.openvswitch.network_vlan_ranges.splice($index,1)">
                                                        <i class="fa fa-minus-circle bigger-140 blue"></i>
                                                         </span>
                                                <!-- hint -->
                                                <span style="margin-left: 20px; color: #AEAEAE;">e.g. physnet1:2700:2999</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="neutron_config.openvswitch.tenant_network_type=='vlan'" ng-repeat="bridge in neutron_config.openvswitch.bridge_mappings track by $index" style="margin-bottom: 10px;">
                                        <div>
                                            <label class="col-sm-4 control-label no-padding-right">
                                                <span ng-if="$index==0">
                                                        Bridge Mapping:
                                                    <span class="text-danger">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-8" style="margin-bottom: 10px;">
                                                <input ng-model="neutron_config.openvswitch.bridge_mappings[$index]" type="text" class="col-xs-10 col-sm-5" placeholder="BridgeMapping" name="bridge_mappings" required>
                                                <span class="col-xs-2 col-sm-3">
                                                        <!--Add Action-->
                                                        <span class="action" ng-click="addValue('bridge_mappings')">
                                                            <i class="fa fa-plus-circle bigger-140 blue"></i>
                                                         </span>
                                                <!--Remove Action-->
                                                <span ng-show="neutron_config.openvswitch.bridge_mappings.length > 1" class="action" ng-click="neutron_config.openvswitch.bridge_mappings.splice($index,1)">
                                                        <i class="fa fa-minus-circle bigger-140 blue"></i>
                                                         </span>
                                                <!-- hint -->
                                                <span style="margin-left: 20px; color: #AEAEAE;">e.g. physnet1:br-eth1</span>

                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group ng-if="currentFlavor == 'HA-multinodes'">
                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right"></i>High Availability Configuration
                        </accordion-heading>
                        <div class="row">
                            <form id="form.haForm" name="form.haForm" class="form-horizontal" role="form">
                                <div class="form-group">

                                    <div>
                                        <label class="col-sm-4 control-label no-padding-right">
                                            VIP:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8" style="margin-bottom: 10px;">
                                            <input ng-model="ha_config.ha_proxy.vip" type="text" class="col-xs-10 col-sm-5" placeholder="" name="ha" ng-pattern="/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" required>
                                            <div class="margin-left-14 inline">
                                                <span class="text-danger" ng-show="form.haForm.ha.$dirty && form.haForm.ha.$error.pattern">
                                                    Invalid IP Address
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </accordion-group>

                </accordion>

            </div>
        </div>
    </div>

</div>
