.switch-status {
  width: 16px;
  height: 16px;
}

.switch-refresh {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.switch-refresh img {
  cursor: hand; 
  cursor: pointer; 
}

img.err:hover {
  cursor: pointer;
}

.add {
  width: 16px;
  height: 16px;
  background-image: url("../../../img/add_button_16px.png");
  cursor: hand; 
  cursor: pointer; 
  float: left;
}

.remove {
  width: 16px;
  height: 16px;
  background-image: url("../../../img/remove_button_16px.png");
  cursor: hand; 
  cursor: pointer; 
  float: left;  
}

