<ul>
  <li><span class="active" data-step="welcome">Welcome</span></li>
  <li><span class="inactive" data-step="1">1. Features</span></li>
  <li><span class="inactive" data-step="2">2. Servers</span></li>
  <li><span class="inactive" data-step="3">3. Security</span></li>
  <li><span class="inactive" data-step="4">4. Networking</span></li>
  <li><span class="inactive" data-step="5">5. Host Configuration</span></li>
  <li><span class="inactive" data-step="6">6. Deploy</span></li>
</ul>