<h1 class="clusterlist-top">My Clusters
    <span class="clusterlist-right">
        <input type="text" placeholder="Search" ng-model="search.$">
        <span ng-include="'src/app/cluster/cluster-create.tpl.html'"></span>
        <a href>
            <span ng-controller="createClusterCtrl">
                <button ng-click="open()" class="btn btn-primary">
                  <i class="glyphicon glyphicon-plus"></i>
                  Create New Cluster
                </button>
            </span>
        </a>
    </span>
</h1>

<div>
    <table ng-table="tableParams" class="ng-table table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="sortable" ng-class="{
                  'sort-asc': tableParams.isSortBy('clusterName', 'asc'),
                  'sort-desc': tableParams.isSortBy('clusterName', 'desc')}" ng-click="tableParams.sorting({'clusterName' : tableParams.isSortBy('clusterName', 'asc') ? 'desc' : 'asc'})">
                    <a href="">
                        <div>Cluster Name</i>
                    </a>
                    </div>
                </th>
                <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('clusterState', 'asc'),
                    'sort-desc': tableParams.isSortBy('clusterState', 'desc') 
                  }" ng-click="tableParams.sorting({'clusterState' : tableParams.isSortBy('clusterState', 'asc') ? 'desc' : 'asc'})">
                    <a href="">
                        <div>State</a>
                    </div>
                </th>
                <th>Deployment Details</a>
                </th>
                <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('targetSystem', 'asc'),
                    'sort-desc': tableParams.isSortBy('targetSystem', 'desc') 
                  }" ng-click="tableParams.sorting({'targetSystem' : tableParams.isSortBy('targetSystem', 'asc') ? 'desc' : 'asc'})">
                    <a href="">
                        <div>Target System</a>
                    </div>
                </th>
                <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('dateModified', 'asc'),
                    'sort-desc': tableParams.isSortBy('dateModified', 'desc') 
                  }" ng-click="tableParams.sorting({'dateModified' : tableParams.isSortBy('dateModified', 'asc') ? 'desc' : 'asc'})">
                    <a href="">
                        <div>Date Modified</a>
                    </div>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cluster in $data | filter:search">
                <td sortable="'clusterName'"><a ui-sref="cluster({ id: cluster.id })">{{cluster.clusterName}}</a>
                </td>
                <td sortable="'clusterState'">
                    <span class="label label label-sm" ng-class="{
                      'label-warning':cluster.clusterState==='Undeployed',
                      'label-info':cluster.clusterState==='Deploying',
                      'label-danger':cluster.clusterState==='Failed',
                      'label-success':cluster.clusterState==='Successful'}">
                        {{cluster.clusterState}}</span>
                </td>
                <td>{{cluster.deploymentDetails}}</td>
                <td sortable="'targetSystem'">{{cluster.targetSystem}}</td>
                <td sortable="'dateModified'">{{cluster.dateModified}}</td>
                <td>
                    <button ng-click="alert()" class="btn btn-xs btn-clstr btn-cltd">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                    <button ng-click="export()" class="btn btn-xs btn-clstr btn-clte">
                        <i class="glyphicon glyphicon-export"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
