<ul class="nav nav-list">
    <li ng-class="{active:state.includes('cluster.overview')}">
        <a ui-sref="cluster.overview">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text">Overview</span>
        </a>
    </li>
    <li ng-class="{'active open':state.includes('cluster.monitoring')}">
        <a href ng-click="isMonitoringNavOpen = !isMonitoringNavOpen">
            <i class="menu-icon fa fa-bar-chart-o"></i>
            <span class="menu-text">Monitoring</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu" ng-show="isMonitoringNavOpen" style="display: block">
            <li ng-class="{active:state.includes('cluster.monitoring.overview')}">
                <a ui-sref="cluster.monitoring.overview">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Overview
                </a>
            </li>
            <li ng-class="{active:state.includes('cluster.monitoring.topology')}">
                <a ui-sref="cluster.monitoring.topology">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Topology
                </a>
            </li>
            <li ng-class="{active:state.includes('cluster.monitoring.alerts')}">
                <a ui-sref="cluster.monitoring.alerts">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Alerts
                </a>
            </li>
            <li ng-class="{active:state.includes('cluster.monitoring.metrics')}">
                <a ui-sref="cluster.monitoring.metrics">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Metrics
                </a>
            </li>
            <li ng-class="{active:state.includes('cluster.monitoring.charts')}">
                <a ui-sref="cluster.monitoring.charts">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Dashboards
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':state.includes('cluster.config')}">
        <a href ng-click="isConfigNavOpen = !isConfigNavOpen">
            <i class="menu-icon fa fa-cog"></i>
            <span class="menu-text">Configurations</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu" ng-show="isConfigNavOpen" style="display: block">
            <li ng-class="{active:state.includes('cluster.config.security')}">
                <a ui-sref="cluster.config.security">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Security
                </a>
            </li>
            <li ng-class="{active:state.includes('cluster.config.network')}">
                <a ui-sref="cluster.config.network">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Network
                </a>
            </li>
            <li ng-class="{active:state.includes('cluster.config.partition')}">
                <a ui-sref="cluster.config.partition">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Partition
                </a>
            </li>
            <li ng-class="{active:state.includes('cluster.config.roles')}">
                <a ui-sref="cluster.config.roles">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Roles
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:state.includes('cluster.log')}">
        <a ui-sref="cluster.log">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text">Log</span>
        </a>
    </li>

</ul>

<div class="sidebar-toggle sidebar-collapse" ng-click="sidebarCollapse = !sidebarCollapse">
    <i class="ace-icon fa fa-angle-double-left" ng-class="{'fa-angle-double-right': sidebarCollapse}"></i>
</div>