<div class="main-content">
    <div class="side-padding-40 top-padding-10">
        <div class="row margin-bottom-15">
            <div class="col-md-5 no-padding-left search-badge-adjustment">
                <h1 class="blue-header margin-right-7">
                    My Clusters
                </h1>
                <div class="badge-adjustment">
                    <span class="badge badge-yellow skinny-badge">{{clusters.length}}</span>
                        <span class="no-border-search search-small">
                            <span class="input-icon">
                                <input class="no-border" type="text" placeholder="Search" ng-model="search.$">
                                <i class="ace-icon fa fa-search"></i>
                            </span>
                        </span>
                </div>
            </div>
            <div class="col-md-7 no-padding-right">
                    <div class="pull-right">
                        <span ng-controller="createClusterCtrl" class="pull-right">
                            <button ng-click="open()" class="btn btn-app btn-sm btn-primary radius-4 btn-create">
                                <i class="glyphicon glyphicon-plus"></i>
                                New Cluster
                            </button>
                        </span>
                    </div>
                    <div class="pull-right clusters-view top-padding-5" ng-init="view = 'grid'">
                        <span class="action grey" ng-click="view = 'grid'">
                            <span class="glyphicon glyphicon-th-large" ng-class="{'blue': view == 'grid'}"></span>
                        </span>
                        <span class="action grey" ng-click="view = 'list'">
                            <span class="glyphicon glyphicon-align-justify" ng-class="{'blue': view == 'list'}"></span>
                        </span>
                    </div>
            </div>
        </div>

        <div class="row" ng-controller="createClusterCtrl">
            <div ng-if="clusters.length == 0" class="dashed-panel no-cluster-panel" ng-click="open()">
                <div class="top-padding-10 light-grey">
                    <i class="ace-icon fa fa-sitemap bigger-300"></i>
                </div>
                <h4 class="top-padding-10 grey">
                    No clusters yet. Please click <b class="">New Cluster</b> button to create a new cluster.
                </h4>
            </div>
            <div ng-if="clusters.length != 0">
                <div ng-show="view == 'grid'" ng-include="'src/app/cluster/cluster-all-grid.tpl.html'"></div>
                <div ng-show="view == 'list'" ng-include="'src/app/cluster/cluster-all-list.tpl.html'"></div>
            </div>

        </div>
    </div>
    <span ng-include="'src/app/cluster/cluster-create.tpl.html'"></span>
</div>
