<div id="navbar" class="navbar navbar-default">
    <div id="navbar-container" class="navbar-container">
        <div class="navbar-header pull-left">
        <a style="height: 50px; width: 190px; padding-left:5px;padding-top:8px;" class="navbar-brand" ui-sref="clusterList">
            <div class="pull-left">
            <img src="assets/img/logo-pure.png" height="45px">
            <img src="assets/img/logo-text.png" height="28px" width="117px">
        </div>
        </a>
            <!-- /.brand -->
        </div>
        <!-- /.navbar-header -->
        <nav class="navbar-header pull-left side-padding-20" role="navigation">
            <ul class="nav ace-nav">
                <li class="transparent">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                        Clusters&nbsp;
                        <small>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </small>
                    </a>
                    <ul class="dropdown-menu dropdown-light-blue dropdown-caret">
                        <li ng-controller="createClusterCtrl" ng-click="open()">
                            <div ng-include="'src/app/cluster/cluster-create.tpl.html'"></div>
                            <a href>
                                <i class="ace-icon fa fa-plus-square bigger-110 blue"></i>
                                Create Cluster
                            </a>
                        </li>
                        <li ng-repeat="cluster in clusters">
                            <a href ng-click="gotoCluster(cluster.id)">
                                <i class="ace-icon fa fa-dot-circle-o blue opacity-zero"></i>
                                {{cluster.name}}
                            </a>
                        </li>
                        <li>
                            <a ui-sref="clusterList">
                                <i class="ace-icon fa fa-eye bigger-110 blue"></i>
                                View All Clusters
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="transparent">
                    <a ui-sref="serverList">
                        Servers
                    </a>
                </li>
            </ul>
        </nav>

        <div role="navigation" class="navbar-header pull-right">
            <ul class="nav ace-nav">
                <li class="transparent">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ace-icon fa fa-bell"></i>
                        <!--span class="badge badge-grey">4</span-->
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            Notifications
                        </li>
                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Sed commodo tortor a purus cursus venenatis.</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Mauris nec magna sagittis, luctus augue et, sagittis neque.</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Sed placerat nunc in odio accumsan, non aliquet libero sodales.</span>
                                </div>
                            </a>
                        </li>

                        <!-- TODO: Add notification details page later -->
                        <!--<li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>-->
                    </ul>
                </li>

                <li class="transparent">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        My Account
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a ui-sref="userSetting">
                                <i class="ace-icon fa fa-cog blue"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a ui-sref="userProfile">
                                <i class="ace-icon fa fa-user blue"></i>
                                Profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li ng-click="logout()">
                            <a href>
                                <i class="ace-icon fa fa-sign-out blue"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.ace-nav -->
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</div>
