<h2>Specify network addresses you want to use for your OpenStack servers</h2>
<p>Provide static network addresses needed to facilitate the OpenStack cluster</p>
<div id="accordion">
  <div>Management Network</div>
  <div>
    <table>
      <tr>
        <td>IP Range</td>
        <td><input id="mgt_ip_start" type="input" class="rounded ipaddress non-empty-value" placeholder="start" value=""><input id="mgt_ip_end" type="input" class="rounded ipaddress non-empty-value" placeholder="end" value=""></td>
      </tr>
      <tr>
        <td>Netmask</td>
        <td><input id="mgt_netmask" type="input" class="rounded non-empty-value" value=""></td>
      </tr>
      <tr>
        <td>Gateway (optional)</td>
        <td><input id="mgt_gateway" type="input" class="rounded" value=""></td>
      </tr>
      <tr>
        <td>NIC</td>
        <td>
          <select id="mgt_nic" class="nic float_left">
            <option selected>eth0</option>
            <option>eth1</option>
            <option>eth2</option>
            <option>eth3</option>
            <option>eth4</option>
          </select>
          <div id="mgt_nic_err" class="nicHint float_left" ><i>  (This selection should be consistent with your networking plan.)</i></div>
        </td>
      </tr>
      <tr>
        <td>Promisc Mode</td>
        <td><input id="mgt_promisc" type="checkbox"><i> (The interface running in promisc mode will receive and pass all the trafic.)</i></td>
      </tr>
    </table>
  </div>
  <div>Tenant Network</div>
  <div>
    <table>
      <tr>
        <td>IP Range</td>
        <td><input id="vnw_ip_start" type="input" class="rounded ipaddress non-empty-value" placeholder="start" value=""><input id="vnw_ip_end" type="input" class="rounded ipaddress non-empty-value" placeholder="end" value=""></td>
      </tr>
      <tr>
        <td>Netmask</td>
        <td><input id="vnw_netmask" type="input" class="rounded non-empty-value" value=""></td>
      </tr>
      <tr>
        <td>Gateway (optional)</td>
        <td><input id="vnw_gateway" type="input" class="rounded" value=""></td>
      </tr>               
      <tr>
        <td>NIC</td>
        <td>
          <select id="vnw_nic" class="nic float_left">
            <option>eth0</option>
            <option selected>eth1</option>
            <option>eth2</option>
            <option>eth3</option>
            <option>eth4</option>
          </select>
          <div id="vnw_nic_err" class="nicHint float_left"></div>
        </td>
      </tr>  
      <tr>
        <td>Promisc Mode</td>
        <td><input id="vnw_promisc" type="checkbox"><i> (The interface running in promisc mode will receive and pass all the trafic.)</i> </td>
      </tr>
    </table>
  </div>
  <div>Public Network</div>
  <div>
    <table>
      <tr>
        <td>IP Range</td>
        <td>
          <input id="float_ip_start" type="input" class="rounded ipaddress non-empty-value" placeholder="start" value=""><input id="float_ip_end" type="input" class="rounded ipaddress non-empty-value" placeholder="end" value="">
        </td>
      </tr>
      <tr>
        <td>Netmask</td>
        <td>
          <input id="float_netmask" type="input" class="rounded non-empty-value" value="">
        </td>
      </tr>
      <tr>
        <td>Gateway (optional)</td>
        <td>
          <input id="float_gateway" type="input" class="rounded" value="">
        </td>
      </tr>
      <tr>
        <td>NIC</td>
        <td>
          <select id="float_nic" class="nic float_left">
            <option>eth0</option>
            <option>eth1</option>
            <option selected>eth2</option>
            <option>eth3</option>
            <option>eth4</option>
          </select>
          <div id="float_nic_err" class="nicHint float_left"></div>
        </td>
      </tr>
      <tr>
        <td>Promisc Mode</td>
        <td><input id="float_promisc" type="checkbox"><i> (The interface running in promisc mode will receive and pass all the trafic.)</i></td>
      </tr>
    </table>
  </div>
  <div>Storage Network</div>
  <div>
    <table>
      <tr>
        <td>IP Range</td>
        <td>
          <input id="storage_ip_start" type="input" class="rounded ipaddress non-empty-value" placeholder="start" value=""><input id="storage_ip_end" type="input" class="rounded ipaddress non-empty-value" placeholder="end" value="">
        </td>
      </tr>
      <tr>
        <td>Netmask</td>
        <td><input id="storage_netmask" type="input" class="rounded non-empty-value" value=""></td>
      </tr>
      <tr>
        <td>Gateway (optional)</td>
        <td><input id="storage_gateway" type="input" class="rounded" value=""></td>
      </tr>
      <tr>
        <td>NIC</td>
        <td>
          <select id="storage_nic" class="nic float_left">
            <option>eth0</option>
            <option>eth1</option>
            <option>eth2</option>
            <option selected>eth3</option>
            <option>eth4</option>
          </select>
          <div id="storage_nic_err" class="nicHint float_left"></div>
        </td>
      </tr>
      <tr>
        <td>Promisc Mode</td>
        <td><input id="storage_promisc" type="checkbox"><i> (The interface running in promisc mode will receive and pass all the trafic.)</i></td>
      </tr>
    </table>
  </div>
  <div>Global Network</div>
  <div>
    <table>
      <tr>
        <td>Nameserver</td>
        <td><input id="global_nameservers" type="input" class="rounded non-empty-value" value=""></td>
      </tr>
      <tr>
        <td>Search Path</td>
        <td><input id="global_searchpath" type="input" class="rounded non-empty-value" value=""></td>
      </tr>
      <tr>
        <td>Gateway</td>
        <td><input id="global_gateway" type="input" class="rounded non-empty-value" value=""></td>
      </tr>
      <tr>
        <td>Proxy (optional)</td>
        <td><input id="global_proxy" type="input" class="rounded" value=""></td>
      </tr>
      <tr>
        <td>NTP Server (optional)</td>
        <td><input id="global_ntpserver" type="input" class="rounded" value=""></td>
      </tr>
      <tr>
        <td>HA Virtual IP (optional)</td>
        <td><input id="global_havip" type="input" class="rounded" value=""></td>
      </tr>
    </table>
  </div>
</div>

<div class="continue"><center>
  <a href="#" class="go-back networking-back" >Go back</a>
  <a href="/web/host_config/" class="btn_continue networking-finish">Continue</a>
  <img id="continuing" class="loading" src="../img/ajax_loader.gif" height="30px" width="30px"></img><br>
  <div id="networking_continue_err" style="display:none;padding-top:10px"></div>
</center></div>
