<div class="page-header">
    <h1>
        Alarming, Alerting, Event Log
    </h1>
</div>

<div class="col-lg-10" style="width: 100%;">
    <tabset style="width: 100%;">
        <tab>
            <tab-heading>
                <i class="ace-icon fa fa-bell"></i>Alarms
            </tab-heading>
            <!--form class="form-inline">
                <select class="form-control" ng-model="renderer" ng-change="rendererChanged(renderer)">
                    <option ng-repeat="render in renderers" value="{{render}}">{{render}}</option>
                </select>
                <select class="form-control" ng-model="uri" ng-change="uriChanged(uri)">
                    <option ng-repeat="uri in uris" value="{{uri.v}}">{{uri.displayName}}</option>
                </select>
                <button class="btn btn-primary" ng-click="changeSeriesData(0)">Generate Alarm Report</button>
            </form-->
            <div class="panel-body" id="alarmsGraphContainer">
                <ganttchart data="alerts" dataready="alertDataReady"></ganttchart>
            </div>
        </tab>
        <tab>
            <tab-heading>
                Event Viewer
            </tab-heading>
            Event Viewer - TBD
        </tab>
    </tabset>
</div>
