<!doctype html>
<html>

<head>
    <title>Compass</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/nvd3/nv.d3.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/angular-ui-tree/angular-ui-tree.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/ace.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ace-skins.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ace-fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/chart.css">
    <link rel="stylesheet" type="text/css" href="assets/css/chosen.css">
    <link rel="stylesheet" type="text/css" href="assets/css/shelf.css">

    <link rel="stylesheet" type="text/css" href="vendor/angular-daterangepicker/daterangepicker-bs3.css">

    <script data-main="src/main.js" src="vendor/require.js"></script>

</head>

<body ng-controller="appController">
    <div ng-if="isAuthenticated && !state.includes('login')">
        <div ng-controller="topnavCtrl">
            <div topnav></div>
        </div>
    </div>

    <div class="main-container no-skin">

        <div ui-view></div>

    </div>
</body>
<script type="text/ng-template" id="messagemodal.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <i class="ace-icon fa fa-exclamation-triangle orange"></i>
            Error {{status}}
        </h3>
    </div>
    <div class="modal-body">
        <span ng-if="warning.message">
            {{warning.message}}
        </span>
        <span ng-if="warning.message === undefined">
            Error occured.
        </span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

</html>
