.tab_panel {
  display: none;
}

.tab_panel_active {
  display: block;
}

.roles {
  width: 150px;

}

.ms-choice {
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  box-shadow: 0 0 5px 0 rgba(215, 211, 207, 0.75) inset;
}

#customize-panel {
  padding-left: 20px;
}

#autofill-panel {
  padding-left: 20px;
}

.radioText {
  color: #5964A1;
  font-size: 15px;
  font-weight:bold;
}
