<div class="modal-header">
        <h3 class="modal-title">Create Cluster</h3>
</div>
<div class="modal-body">
   <form name="createClusterForm" class="form-horizontal">
        <!--<div class="form-group">
            <div class="control-group">
                <div class="radio pull-left">
                    <label>
                        <input type="radio" class="ace" name="form-field-radio">
                        <span class="lbl"> Create New Cluster</span>
                    </label>
                </div>

                <div class="radio pull-left">
                    <label>
                        <input type="radio" class="ace" name="form-field-radio">
                        <span class="lbl"> Import Cluster CSV Files</span>
                    </label>
                </div>
            </div>
        </div>-->

        <div class="form-group" ng-class="{'has-error':createClusterForm.clustername.$error.required&& !createClusterForm.clustername.$pristine}">
            <label class="col-xs-12 col-sm-3 control-label no-padding-right">Cluster Name</label>

            <div class="col-xs-12 col-sm-5">
                <input type="text" class="width-100" ng-model="cluster.name" name="clustername" required>
            </div>
            <div ng-show="createClusterForm.clustername.$error.required" class="help-block col-xs-12 col-sm-reset inline"> Required</div>
        </div>

        <div class="form-group" ng-class="{'has-error':createClusterForm.targetsystem.$error.required&& !createClusterForm.clustername.$pristine}">
            <label class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Target System</label>

            <div class="col-xs-12 col-sm-5">
                <select ng-options="adapter.display_name for adapter in allAdapters" ng-model="cluster.adapter" ng-change="updateSelectedAdapter()" name="targetsystem" class="width-100" required>
                </select>
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline"> Required </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createClusterForm.os.$error.required&& !createClusterForm.clustername.$pristine}">
            <label class="col-xs-12 col-sm-3 control-label no-padding-right">OS</label>

            <div class="col-xs-12 col-sm-5">
                <select ng-options="os.name for os in supported_oses" ng-model="cluster.os" name="os" class="width-100" required>
                </select>
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline"> Required </div>
        </div>

        <div class="form-group" ng-hide="flavors.length == 0" ng-class="{'has-error':createClusterForm.flavors.$error.required&& !createClusterForm.flavors.$pristine}">
            <label class="col-xs-12 col-sm-3 control-label no-padding-right">Flavor</label>

            <div class="col-xs-12 col-sm-5">
                <select ng-options="flavor.display_name for flavor in flavors" ng-model="cluster.flavor" name="os" class="width-100">
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="createClusterForm.$invalid">Create</button>
</div>