<div>
  <strong>Switch IP: </strong>
  Use the IP address and port for the switch to which the host is attached 
</div>
<div>
  <strong>Switch alias: </strong>
  Use the switch alias for the switch and port to which the host is attached
</div>
<div>
  <strong>Server: </strong>
  Auto-increment integer value based on the last generated value
</div>
<div>
  <strong>Custom: </strong>
  Pre-defined patterns include {switchIp}, {port}, {d.1}, {d.2}, {d.3}, {d.4}, 
  {mgtIpPart1}, {mgtIpPart2}, {mgtIpPart3}, {mgtIpPart4}, 
  {tntIpPart1}, {tntIpPart2}, {tntIpPart3}, {tntIpPart4}</div>