<h2>
  Deploying OpenStack 
  <span style="float:right;">
    <a class="refresh-progressbar"><img src="../img/refresh.png"></img></a>
  </span>
</h2>

<p style="padding-left: 30px; color: black;">Compass is deploying OpenStack onto the servers, and configuring them for use with the following features: <span style="color: #990000; margin-top: -5px; font-weight: bold;">Core virtualization, <span style="opacity:0.3">Live Migration, High Availability</span></span> </p>

<p style="padding-left: 30px; color: black;">Click <a class="dashboard-link disabled">here</a> to go to OpenStack dashboard when deployment is finished.</p>

<div class="rounded" style="margin-left: 45px; margin-bottom: 20px;"><center>
  <table style="width:80%">
    <tbody>
      <tr>
        <td style="width: 20%;">Total Progress:</td>
        <td style="width: 70%;">
          <div class="totalProgressbar float_left" style="width:100%; height: 20px; border: 1px solid #aaaaaa;">
            <div class="progress-label">Waiting...</div>
            <!--<div id="total_percentage" style="position: absolute; z-index: 5; margin-left: 390px;"></div>
            <div id="total_bar" style="width:0%; height: 100%; background: #0000ff; opacity: 0.5;"></div>-->
          </div>
        </td>
        <td style="font-size: 13px; font-weight: bold; padding-left: 3px;"></td>
      </tr>
    </tbody>
  </table>
</center></div>

<div id="install_tabs" style="margin-left: 45px;">
  <ul>
    <li><a href="#tabs-1">Graph</a></li>
    <li><a href="#tabs-2">List</a></li>
  </ul>
  <div id="tabs-1" class="graph">
    <div id="progress-graph">

    </div>
  </div>
  <div id="tabs-2" class="list"><center>
    <table id="progress-list" style="width:80%">
      <tbody>
      </tbody>
    </table>

  </center></div>
</div>


<div class="clear"></div>
