<h2>Welcome to Compass</h2>

<div class="left-side">
  <p>
    Before you begin the deployment of the OpenStack software, you need to make sure that the servers and networking are deployed properly. Compass requires the following configuration:
  </p>
  <ul>
    <li>All servers must have at least <span class="bold underline">two</span> 1 Gbps network ports</li>
    <li>One server must have <span class="bold underline">three</span> 1 Gbps network ports</li>
    <li>Server NICs must be connected to the same subnet</li>
  </ul>
  <p>
    When you have configured the servers as described above, and shown in the picture to the right, you can begin the OpenStack Deployment by clicking the Continue button. At the next screen you will be asked to identify the switch to which the servers are connected to begin the process.
  </p>
  <p>
    When you're ready to begin, click the Continue button below.
  </p>
  <p>
    <a href="#">Print these instructions</a>
  </p>
  <div class="continue"><center>
    <a href="/web/servers/" class="btn_continue" data-step="before_begin">Continue</a>
  </center></div>
</div>
<div class="right-side">
  <img title="Descriptive Topological Graphic" src="../img/topology_description.png" height="385px" width="538px"></img>
</div>
