<h2>Select the Compass features you want to deploy and configure</h2>

<div class="left-side">
  <div class="inside">
    <h3><span><img src="../img/green_check_16px.png" height="16px" width="16px"></img></span>&nbsp;&nbsp;OpenStack Virtualization</h3>

    <p style="padding-left:40px">
      Create and run KVM virtual machines. This feature is the core of OpenStack, and is a required part of the Openstack deployment.
    </p>
    
    <h3 class="unavailable">
      <input id="lm" type="checkbox" disabled> Live Migration of Virtual Machines
    </h3>

    <p class="unavailable" style="padding-left:40px">
      Live Migration allows virtual machines to be moved from one compute server to another without powering them down.
    </p>
    
    <h3 class="unavailable">
      <input id="ha" type="checkbox" disabled> High Availability (HA)
    </h3>

    <p class="unavailable" style="padding-left:40px">
      High Availability automatically restarts a virtual machine on a different compute server in the event of its being accidentally powered off due to a compute server failure.
    </p>
    
    <div class="continue"><center>
      <a id="continue" href="javascript: void(0)" data-step="features" class="btn_continue">Continue</a>
    </center></div>
  </div>
</div>

<div class="right-side">
  <img title="Descriptive Features Graphic" src="../img/features_graphic.png" height="362px" width="559px"></img>
</div>