<h2>Welcome to Compass</h2>

<div class="left-side">
  <p>This wizard will help you deploy a complete set of OpenStack services and software onto
 any set of servers you choose. After answering a few simple questions, Compass
 will deploy software and configure your servers to provide you with a fully working OpenStack
 system.</p>
        
  <p>When you're ready to begin, click the Get Started button below.</p>
    
  <div class="continue">
    <center>
      <a href="/feature_selection" class="btn_continue">Get Started</a>
    </center>
  </div>
</div>

<div class="right-side">
  <img src="../img/openstack_welcome_graphics_std.png" height="363px" width="586px"></img>
</div>
