<h2>Select the servers you want to use for OpenStack</h2>

<div class="left-side">
  <div class="inside">
    <h3>To begin, search for available servers</h3>

    <div class="rounded">
      Enter the IP address or host name for the network switches on which the servers are connected. Enter as many switches as needed and then click Find Servers.
      <table class="switchtable">
        <thead>
          <tr>
            <th>Switch IP</th>
            <th id="snmpTitle">SNMP Version</th>
            <th id="communityTitle">Community</th>
            <th><!--<input id="useSNMP" type="checkbox" checked> Use SNMP-->
              <input type="radio" id="useSNMP" name="snmp" value="snmp" checked> Use SNMP <br>
              <input type="radio" id="useSSH" name="snmp" value="ssh"> Use SSH
            </th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div class="continue">
        <center>
          <button class="find_server btn_find"> Find Servers </button>
          <img id="finding-servers" class="loading" src="../img/ajax_loader.gif" height="30px" width="30px"></img>
        </center>
        <center class="switchesErr errhint" style="margin-top:10px;display:none;">
          The switches are not responding. Please try again later.
        </center>

      </div>
    </div>
  </div>
</div>

<div class="right-side" style="display:none; min-height: 540px;">
  <h3>Select servers onto which to deploy OpenStack</h3>
  <div class="server-result">
    <table id="tb_server_select" cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
        <tr>
          <th><input type="checkbox" id="select_all"></th>
          <th>MAC Addr</th>
          <th>Switch addr</th>
          <th>VLAN</th>
          <th>Port</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <br>
    <div class='float_left rounded server-selection-num'>
      Adapter: <select id="adapter"></select>
    </div>
    <div class='float_right rounded server-selection-num'>
      <span id="selected_num">0</span> items selected
    </div>

    <div class="clear"></div>

    <div class="continue"><center>
      <a href="javascript: void(0)" class="btn_continue server-finish">Continue</a>
      <img id="continuing" class="loading" src="../img/ajax_loader.gif" height="30px" width="30px"></img><br>
      <div id="server_continue_err" style="display:none;padding-top:10px"></div>
    </center></div>
  </div>
</div>
