<h2>Pending Clusters</h2>
<p style="margin: 0; padding-left: 20px;">Click continue to see OpenStack deployment progress of the selected cluster.</p>

<div class="rounded" style="padding-top: 10px; padding-bottom: 5px; margin-left: 20px; margin-top: 10px;">
  <table class="cluster">
    <thead>
      <tr>
        <th></th>
        <th>Cluster Id</th>
        <th>Cluster Name</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<div class="clear"></div>
<div class="continue"><center>
  <a href="#" id="retrieve-progress" class="btn_continue">Continue</a>
  <img id="continuing" class="loading" src="../img/ajax_loader.gif" height="30px" width="30px"></img>
</center></div>