<tr name="<%= hostname%>">
  <td style="width: 20%;"> <%= hostname %> </td>
  <td style="width: 70%;">
    <div data-hostid="<%= hostid %>" class="center_gradient server_progress">
      <div class="server-progress-label progress-label"> <%= message %> </div>
    </div>
  </td>
  <td><!--<img src="../img/info_icon_16px.png"></img>--></td>
</tr>
