html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
.notification-msg {
    white-space: normal;
}
.nav-list > li.open .submenu {
    display: block;
}
/*
.cssSlideUp {
    transition: 1s linear all;
    height: 300px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}*/

.nowrap {
    white-space: nowrap;
}
.action {
    cursor: pointer;
}
.action i {
    padding-top: 7px;
}
.role-tag {
    background-color: #91b8d0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 4px 22px 5px 9px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.alert-dismissable .close {
    color: inherit;
    position: relative;
    right: -17px !important;
    top: 0 !important;
}
select {
    padding-left: 1px !important;
}
.opacity-zero {
    opacity: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.max-width-200 {
    max-width: 200px;
}
.partition-chart {
    padding-top: 30px;
}
.margin-top-minus10 {
    margin-top: -10px !important;
}
.drag-enter {
    background: none repeat scroll 0 0 #F0F9FF;
    border: 2px dashed #BED2DB !important;
    box-sizing: border-box;
    margin: 5px 0;
    min-height: 50px;
    padding: 0;
}
.network-draggable {
    position: relative;
    width: 200px;
}
.network-placeholder {
    min-height: 200px;  
}
.interface-placeholder {
    border: 1px solid #BED2DB;
    box-sizing: border-box;
    margin: 5px 0;
    min-height: 50px;  
    padding: 10px;
}
.btn-clstr {
    border: none !important;
    background-color: inherit!important;
    color: #000000 !important
}
button.btn-cltd:hover, button.btn-clstrd:active {
    background-color: #d15b47 !important;
    color: #FFFFFF !important;
    border-radius: 4px !important;
}
button.btn-clte:hover, button.btn-clstre:active {
    background-color: #3a87ad !important;
    color: #FFFFFF !important;
    border-radius: 4px !important;
}
th {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}
a.darkfont:link: {
    font color: #000000 !important;
}
/* visited link */
h1.cluster {
    float: left !important;
    line-height: 1.4 !important;
}
.header-margins{
    margin-left: 0px !important; 
    margin-right: 0px !important; 
    margin-bottom: 15px !important;
}
a.darkfont:visited {
    color: #000000 !important;
}
a:active {
    color: #0000FF;
}
.page-header {
    padding-left: 20px;
    padding-right: 20px;
}
.label {
    border-radius: 0.25em !important;
    line-height: 80% !important; 
    text-transform: lowercase !important;
    font-size: 100% !important;
    padding: 0.2em 0 0 0 !important;
}
.label:first-letter {
    text-transform: uppercase !important;
}
.nav-search {
    position: relative !important;
    float: right !important;
}

.btn-cltd {
    padding: 1px 3px 1px 4px !important;
}
.btn-create {
    line-height: 1.1 !important;
}
.input-icon{
    margin-top: 5px !important;
}
.ng-table th.sortable {
    cursor: pointer
}
.ng-table th.sortable div {
    padding-right: 18px;
    position: relative
}
.ng-table th.sortable div:after, .ng-table th.sortable div:before {
    content: "";
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: visible;
    right: 8px;
    top: 50%;
    position: absolute;
    /* opacity: .3; */
    margin-top: -4px
}
.ng-table th.sortable div:before {
    margin-top: 2px;
    border-bottom: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000
}
.ng-table th.sortable div:hover:after, .ng-table th.sortable div:hover:before {
    opacity: 1;
    visibility: visible
}
.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: rgba(141, 192, 219, .25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75)
}
.ng-table th.sortable.sort-desc div:after, .ng-table th.sortable.sort-asc div:after {
    margin-top: -2px
}
.ng-table th.sortable.sort-desc div:before, .ng-table th.sortable.sort-asc div:before {
    visibility: hidden
}
.ng-table th.sortable.sort-asc div:after, .ng-table th.sortable.sort-asc div:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -khtml-opacity: .6;
    -moz-opacity: .6;
    /* opacity: .6 */
}
.ng-table th.sortable.sort-desc div:after {
    border-bottom: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: .6;
    -moz-opacity: .6;
    /* opacity: .6 */
}
