<div id="navbar" class="navbar navbar-default">
    <div id="navbar-container" class="navbar-container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" ui-sref="clusterList">
                <small>Compass</small>
            </a>
            <!-- /.brand -->
        </div>
        <!-- /.navbar-header -->

        <nav class="navbar-menu pull-left collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                      Clusters&nbsp;<small><span class="glyphicon glyphicon-chevron-down"></span></small>
                    </a>

                    <ul class="dropdown-menu dropdown-light-blue dropdown-caret">
                        <li>
                            <!--<a ui-sref="wizard">
                                <div>Create Cluster</div>
                            </a>-->
                            <a href>
                                <script type="text/ng-template" id="myModalContent.html">
                                <div class = "modal-header" > 
                                    < h3 class = "modal-title" > I am a modal </h3>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li ng-repeat="item in items">
                                            <a ng-click="selectedd.item = item">{{ item }}</a>
                                        </li>
                                    </ul>
                                    Selected: <b>{{ selectedd.item }}</b>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                                </script>
                                <div ng-controller="createClusterCtrl">
                                    <span ng-click="open()">Create Cluster</span>
                                </div>
                            </a>
                        </li>
                        <li ng-repeat="cluster in clusters">
                            <a ui-sref="cluster({ id: cluster.id })">{{cluster.name}}</a>
                        </li>
                        <li>
                            <a ui-sref="clusterList">
                                <i class="ace-icon fa fa-eye bigger-110 blue"></i>
                                View All Clusters
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a ui-sref="serverList">
                        Discovered Servers
                    </a>
                </li>
            </ul>
        </nav>

        <div role="navigation" class="navbar-header pull-right">
            <ul class="nav ace-nav">
                <li class="transparent">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ace-icon fa fa-bell"></i>
                        <span class="badge badge-grey">4</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            Notifications
                        </li>

                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Sed commodo tortor a purus cursus venenatis.</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Mauris nec magna sagittis, luctus augue et, sagittis neque.</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a>
                                <div class="clearfix notification-msg">
                                    <span class="pull-left">Sed placerat nunc in odio accumsan, non aliquet libero sodales.</span>
                                </div>
                            </a>
                        </li>

                        <!-- TODO: Add notification details page later -->
                        <!--<li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>-->
                    </ul>
                </li>

                <li class="light-blue">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <span class="user-info">
                            My Account
                        </span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.ace-nav -->
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</div>
