<div class="page-header">
    <h1>
        Roles
    </h1>
</div>

<div class="row side-padding-10 padding-top-30">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table ng-table="tableParams" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <!--th>
                            <label>
                                <input type="checkbox" ng-model="selectall" ng-change="selectAllServers(selectall)" class="ace">
                                <span class="lbl"></span>
                            </label>
                        </th-->
                        <th ng-repeat="column in server_columns" ng-show="column.visible" class="sortable" ng-class="{'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                            'sort-desc': tableParams.isSortBy(column.field, 'desc')}" ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                            <div>{{column.title}}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="host in $data | filter:search">
                        <!--td>
                            <label>
                                <input type="checkbox" ng-model="host.selected" class="ace">
                                <span class="lbl"></span>
                            </label>
                        </td-->
                        <td ng-repeat="column in server_columns" ng-show="column.visible" sortable="column.field">
                            <span ng-switch on="column.field">
                                <span ng-switch-when="roles">
                                    <span ng-repeat="role in host['roles']" class="badge">
                                        {{role.display_name}}&nbsp;
                                    </span>
                                </span>
                                <span ng-switch-default>
                                    {{host[column.field]}}
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

    </div>
</div>
