<div ng-controller="globalCtrl">
    <div class="row">
        <div class="col-xs-12">
            <form id="generalForm" name="generalForm" class="form-horizontal" role="form">
                <div ng-repeat="category in metaData | orderBy: 'order'">
                    <input ng-model="category.name" user-group-validation="{{category.name}}" target-function="{{category.userGroupValidation}}" response="category.validationResponse"  index="{{$index}}" ng-model="category.name" enable="{{category.userGroupValidation||false}}" ng-hide="true">
                    <div class="form-group" ng-if="category.title !==''">
                        <div>
                            <label class="col-sm-4 control-label no-padding-right">
                                <h4>{{category.title}}:</h4>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="category.validationResponse[$index].error">
                        <div class="col-sm-3">
                        </div>
                        <div class="alert alert-danger col-sm-5" >
                            {{category.validationResponse[$index].message}}
                        </div>
                    </div>
                    <div ng-repeat="content in category.data | orderBy: 'order'">
                        <div class="form-group" ng-if="content.display_type !== 'multitext'">
                            <!-- ======================text and password========================== -->
                            <div ng-if="content.display_type == 'text' || content.display_type == 'password'">
                                <label class="col-sm-4 control-label no-padding-right">
                                    {{content.display_name}}
                                    <span class="text-danger" ng-if="content.is_required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <input ng-model="os_global_config[category.name][content.name]" type="{{content.display_type}}" class="col-xs-10 col-sm-5" placeholder="{{content.placeholder}}" name="{{content.name}}" 
                                    ng-required="{{content.is_required}}"
                                    enable="{{content.validation||false}}"
                                    response="content.validationResponse" 
                                    ng-if="!content.datamatch">
                                    <input ng-model="os_global_config[category.name][content.name]" 
                                    type="{{content.display_type}}" 
                                    class="col-xs-10 col-sm-5"
                                    placeholder="{{content.placeholder}}"
                                    name="{{content.name}}" 
                                    ng-required="{{content.is_required}}"
                                    enable="{{content.validation||false}}"
                                    response="content.validationResponse"
                                    compass-data-match="os_global_config[category.name][content.datamatch]"
                                    ng-if="content.datamatch">
                                <!--     <input ng-model="os_global_config[category.name][content.name]" type="{{content.display_type}}" class="col-xs-10 col-sm-5" placeholder="{{content.placeholder}}" name="{{content.name}}" ng-required="{{content.is_required}}" ng-if="!content.validation">  -->
                                    <div class="margin-left-14 inline">
                                        <span class="text-danger" data-ng-show="content.validationResponse.error">{{content.validationResponse.message}}</span>
                                    </div>     
                                </div>
                            </div>
                             <!-- ======================dropdown========================== -->
                            <div ng-if="content.display_type == 'dropdown'">
                                <label class="col-sm-4 control-label no-padding-right">
                                    {{content.display_name}}
                                    <span class="text-danger" ng-if="content.is_required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <select ng-model="os_global_config[category.name][content.name]" 
                                            name="{{content.name}}" class="col-xs-10 col-sm-5"
                                            ng-options="option.value as option.name for option in content.options">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- ======================multiText========================== -->
                        <div ng-repeat="target in os_global_config[category.name][content.name] track by $index" class="form-group" ng-if="content.display_type == 'multitext'">
                            <div>
                                <label class="col-sm-4 control-label no-padding-right">
                                    <span ng-if="$index==0">
                                        {{content.display_name}}
                                        <span class="text-danger" ng-if="content.is_required">*</span>
                                    </span>
                                </label>
                                <div class="col-sm-8">
                                    <input ng-model="os_global_config[category.name][content.name][$index]" type="text" class="col-xs-10 col-sm-5" placeholder="{{content.placeholder}}"
                                           name="content.name"
                                           ng-required="{{content.is_required}}"
                                           user-individual-validation="{{content.validation}}" 
                                           enable="{{content.validation||false}}"
                                           response="content.validationResponse"
                                           index="{{$index}}">
                                    <span class="col-xs-2 col-sm-3">
                                        
                                        <span class="action" ng-click="addValue(category.name,content.name)">
                                            <i class="fa fa-plus-circle bigger-140 blue"></i>
                                        </span>
                                        
                                        <span ng-show="os_global_config[category.name][content.name].length > 1" class="action" ng-click="os_global_config[category.name][content.name].splice($index,1)">
                                            <i class="fa fa-minus-circle bigger-140 blue"></i>
                                        </span>
                                        <div class="margin-left-14 inline">
                                            <span class="text-danger" data-ng-show="content.validationResponse[$index].error">{{content.validationResponse[$index].message}}</span>
                                        </div> 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>