<div ng-controller="networkCtrl">
    <div class="row">
        <div collapse="autoFillPanel.isCollapsed" class="dashed-panel" style="height: auto; background-color: rgba(224, 226, 227, 0.25);">
            <span class="action pull-right" ng-click="autoFillPanel.isCollapsed = true;">
                <i class="ace-icon fa fa-times-circle bigger-120 networkDeleteButton"></i>
            </span>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        Autofill IP Address for Each Interface
                        <button class="btn btn-sm btn-info pull-right" ng-click="openAddSubnetModal()" >Add Subnet</button>
                        <button class="btn btn-sm btn-info pull-right" ng-model="autoFill" style="margin-right:15px;" ng-click="autoFillMange()">{{autoFillButtonDisplay}}</button>
                    </h4>
                    <table class="table table-hover nowrap">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Interface</th>
                                <th>Is Mgmt Network</th>
                                <th>Promisc Mode</th>
                                <th>Subnet</th>
                                <th ng-if="autoFill">Autofill Rules</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span ng-click="addInterface(newInterface)" class="action">
                                        <i class="fa fa-plus-circle bigger-140 blue"></i>
                                    </span>
                                </td>
                                <td>
                                    <input class="input-small" type="text" ng-model="newInterface.name" placeholder="Interface" required />
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <select ng-model="newInterface.subnet_id" class="max-width-200">
                                        <option ng-repeat="sub in subnetworks" value="{{sub.id}}">
                                            {{sub.subnet}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-repeat="(interface_name, value) in interfaces track by $index">
                                <td>
                                    <!--Remove Action-->
                                    <span class="action" ng-click="deleteInterface(interface_name)">
                                        <i class="fa fa-minus-circle bigger-140 blue"></i>
                                    </span>
                                </td>
                                <td>
                                    {{interface_name}}
                                </td>
                                <td>
                                    <label>
                                        <input ng-model="value.is_mgmt" type="checkbox" class="ace" name="is-mgmt">
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input ng-model="value.is_promiscuous" type="checkbox" class="ace" name="promisc">
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>
                                    <select ng-model="value.subnet_id" class="max-width-200">
                                        <option ng-repeat="sub in subnetworks" value="{{sub.id}}" ng-selected="sub.id == value.subnet_id">
                                            {{sub.subnet}}
                                        </option>
                                    </select>
                                </td>
                                <td ng-if="autoFill">
                                    <input id="{{interface_name}}-ipstart" type="text" class="input-medium" placeholder="IP Start">
                                    <select id="{{interface_name}}-increase-num">
                                        <option value="1">Increase by 1</option>
                                        <option value="2">Increase by 2</option>
                                        <option value="3">Increase by 3</option>
                                        <option value="4">Increase by 4</option>
                                        <option value="5">Increase by 5</option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border:none;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td ng-if="autoFill">
                                    <h4>Autofill Hostname</h4>
                                    <select id="hostname-rule" class="input-large">
                                        <option value="" selected="selected">Please select a pattern</option>
                                        <option value="host">Host</option>
                                        <option value="switch_ip">Switch IP</option>
                                    </select>

                                    <button ng-click="autofill(3000)" class="btn btn-sm btn-primary">
                                        Fill Values
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="space-10"></div>
                </div>
            </div>
            <div class="space-10"></div>
        </div>
    </div>
    <div class="row">
        <div class="pull-left">
            <!--Search Input-->
            <span class="input-icon">
                <input type="text" placeholder="Search" ng-model="search.$">
                <i class="ace-icon fa fa-search blue"></i>
            </span>
            <!-- Column Show / Hide button -->
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" style="border-radius:7px !important;">
                    Column Show / Hide
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="column in server_columns" ng-click="column.visible=!column.visible">
                        <a class="action">
                            <span ng-class="{'opacity-zero': !column.visible}">
                                <i class="ace-icon fa fa-check blue"></i>
                            </span>
                            {{column.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-sm btn-info" ng-init="autoFillPanel.isCollapsed = true;" ng-click="autoFillPanel.isCollapsed = !autoFillPanel.isCollapsed">
                Set Subnet&nbsp;&nbsp;
                <span class="text-danger"><i class="ace-icon fa fa-plus" ng-class="{'fa-minus': !autoFillPanel.isCollapsed}"></i></span>
            </button>
        </div>
    </div>
    <alert ng-repeat="alert in networkAlerts" class="autofill-success fade-animation" type="success">{{alert.msg}}</alert>
    <div class="row">
        <div class="space-6"></div>
        <table ng-table="tableParams" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th ng-repeat="column in server_columns" ng-show="column.visible" class="sortable" ng-class="{
                'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                'sort-desc': tableParams.isSortBy(column.field, 'desc')
              }" ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                        <div>{{column.title}}</div>
                    </th>
                    <th class="networkDeleteView" ng-repeat="(name, value) in interfaces" ng-mouseover="deleteView=true" ng-mouseleave="deleteView=false">
                        {{name}}
                        <span ng-click="deleteInterface(name)" class="action">
                            <i ng-class="{'networkDeleteButton': deleteView}" class="ace-icon fa fa-times-circle bigger-120 light-grey"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="server in $data | filter: search" ng-init="total=$data.length;serverIndex = $index; server.networks = server.networks === undefinded? {} : server.networks">
                    <td class="center-align" ng-repeat="column in server_columns" ng-show="column.visible" sortable="column.field">
                        <span ng-switch on="column.field">
                            <span ng-switch-when="hostname">
                                <input ng-model="server[column.field]" placeholder="Hostname" class="form-control  max-width-150 margin-bottom-0" type="text" ng-keypress data-position="position_{{serverIndex}}">
                            </span>
                            <span ng-switch-when="os_installed">
                                <span ng-if="server['os']">
                                    <label>
                                        <input ng-model="server.reinstallos" type="checkbox" class="ace">
                                        <span class="lbl"></span>
                                    </label>
                                </span>
                                <span ng-if="!server['os']">
                                    -
                                </span>
                            </span>
                            <span ng-switch-when="clusters">
                                <span ng-repeat="cluster in server.clusters">
                                    {{cluster.name}}&nbsp;
                                </span>
                            </span>
                            <span ng-switch-default>
                                {{server[column.field]}}
                            </span>
                        </span>
                    </td>
                    <td class="eth-width" ng-repeat="(name, value) in interfaces" ng-init="server.networks[name] = server.networks[name] === undefinded? {} : server.networks[name];interfaceIndex=$index">
                        <input ng-model="server.networks[name].ip" placeholder="IP Address" class="form-control max-width-150 margin-bottom-0" type="text" ng-keypress data-position="position_{{total*(interfaceIndex+1)+serverIndex}}">
                    </td>

                    <!-- Set IP, subnet and mgmt by each server. Keep this part for future use-->
                    <!--
                    <td ng-repeat="interface in interfaces" ng-init="server.networks[interface]={};">
                        <input ng-model="server.networks[interface].ip" placeholder="IP Address" class="form-control margin-bottom-10 max-width-200" type="text">
                        <select ng-model="server.networks[interface].subnet_id" class="form-control margin-bottom-10 max-width-200">
                            <option ng-repeat="sub in subnetworks" value="{{sub.subnet_id}}">
                                Subnetwork: {{sub.name}}
                            </option>
                        </select>
                        <span>
                            <input ng-model="server.networks[interface].is_mgmt" name="mgmt-{{serverIndex}}" type="checkbox"> Is Mgmt Network
                        </span>
                    </td>
                    -->
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div>
    <script type="text/ng-template" id="addSubnetModal.html">
    <div class="modal-header">
        <h3 class="modal-title" >Subnetwork </h3>
    </div>
    <div class= "modal-body" >
        <alert ng-repeat="alert in alerts" type="danger" close="closeAlert()">
            {{alert.message}}
        </alert>
        <table class="table table-hover nowrap">
            <thead>
                <tr>
                    <th>Subnet</th >
                    <th> Actions </th>
                </tr >
            </thead>
            <tbody>
                <tr ng-repeat="sub in subnetworks">
                    <td>
                        <input type="text" ng-model="sub.subnet" ng-class="{'red-border': !sub.valid}" placeholder="Subnet" ng-change="subnet_change($index,sub.subnet)" required/ >
                    </td>
                    <td>
                        <span class="action" ng-click="addSubnetwork()">
                            <i class="fa fa-plus-circle bigger-140 blue"></i>
                        </span>

                        <span ng-show="subnetworks.length > 1" class="action" ng-click="removeSubnetwork($index)">
                            <i class="fa fa-minus-circle bigger-140 blue"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div >
    <div class = "modal-footer" >
    <button class = "btn btn-primary" ng-disabled = "!subnetAllValid" ng-click = "ok()" > OK </button>
        <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
    </div>
    </script>
</div>

