<div ng-controller="networkMappingCtrl">
    <div class="row">
        <div class="col-sm-6">
            <div class="widget-box transparent margin-top-minus10">
                <div class="widget-header">
                    <h4>Interfaces</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div ng-repeat="(interface_key, interface_value) in interfaces">
                            {{interface_key}}
                            <div ui-on-Drop="onDrop($event, interface_key)" drag-hover-class="drag-enter" class="interface-placeholder">

                                <div ng-repeat="(network_key, network_value) in networking" ui-draggable="true" on-drop-success="dropSuccessHandler($event, network_key, networking)" class="external-event label-purple ui-draggable network-draggable" ng-if="network_value.mapping_interface==interface_key">
                                    <i class="ace-icon fa fa-arrows"></i>
                                    {{network_value.display}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="widget-box transparent margin-top-minus10">
                <div class="widget-header">
                    <h4>Networks</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div ui-on-Drop="onDrop($event, '')" drag-hover-class="drag-enter" class="network-placeholder">
                            <div ng-repeat="(key, value) in networking" ui-draggable="true" on-drop-success="dropSuccessHandler($event, key, networking)" class="external-event label-purple ui-draggable network-draggable" ng-if="!value.mapping_interface">
                                <i class="ace-icon fa fa-arrows"></i>
                                {{value.display}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
