<div ng-controller="roleAssignCtrl">
    <div class="row">
        <div class="pull-left">
            <!--Search Input-->
            <span class="input-icon">
                <input type="text" placeholder="Search" ng-model="search.$">
                <i class="ace-icon fa fa-search blue"></i>
            </span>
            <!-- Column Show / Hide button -->
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-white btn-default dropdown-toggle">
                    Column Show / Hide
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="column in server_columns" ng-click="column.visible=!column.visible">
                        <a class="action">
                            <span ng-class="{'opacity-zero': !column.visible}">
                                <i class="ace-icon fa fa-check blue"></i>
                            </span>
                            {{column.title}}
                        </a>
                    </li>
                </ul>
            </div>
            <span>
                <input type="text" placeholder="HA VIP" ng-model="ha_vip">
            </span>
        </div>
        <div class="pull-right">
            <div class="btn-group" dropdown>
                <button class="btn btn-sm btn-info" ng-init="autoAssignRoles.isCollapsed = true;" ng-click="autoAssignRoles.isCollapsed = !autoAssignRoles.isCollapsed">
                    Auto Assign&nbsp;
                    <i class="ace-icon fa fa-plus" ng-class="{'fa-minus': !autoAssignRoles.isCollapsed}"></i>
                </button>
                <button type="button" class="btn btn-sm btn-info dropdown-toggle">
                    Manually Assign&nbsp;
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>
                <ul class="dropdown-menu dropdown-info dropdown-menu-right" role="menu">
                    <li ng-repeat="role in roles">
                        <a class="action" ng-click="assignRole(role)">
                            {{role.display_name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div collapse="autoAssignRoles.isCollapsed">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <form name="autoAssignForm" role="form" class="form-horizontal">
                            <div ng-repeat="role in roles" class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">{{role.display_name}}</label>
                                <div class="col-sm-8" ng-init="role.count=1">
                                    <input type="number" min="0" class="col-xs-10 col-sm-5" ng-model="role.count" placeholder="Count">
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" class="btn btn-sm btn-info" ng-click="autoAssignRoles()" ng-disabled="autoAssignForm.$invalid">
                                    Assign
                                </button>
                                <span>
                                    Total Hosts: {{servers.length}} | Total Roles: {{rolesTotalCount}}
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table ng-table="tableParams" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input ng-model="selectall" ng-change="selectAllServers(selectall)" type="checkbox" class="ace">
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th ng-repeat="column in server_columns" ng-show="column.visible" class="sortable" ng-class="{'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                   'sort-desc': tableParams.isSortBy(column.field, 'desc')}" ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                        {{column.title}}
                    </th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="server in $data | filter: search">
                    <td>
                        <label>
                            <input ng-model="server.checked" type="checkbox" class="ace">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td ng-repeat="column in server_columns" ng-show="column.visible" sortable="column.field">
                        {{server[column.field]}}
                    </td>
                    <td>
                        <alert ng-repeat="role in server['roles']" class="role-tag" close="removeRole(server, role)">
                            {{role.display_name}}
                        </alert>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
