<div ng-controller="securityCtrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="accordion-style1 panel-group accordion-style2" id="accordion">
                <accordion close-others="true">

                    <accordion-group is-open="status1.open">
                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right" ng-class="{'fa-angle-down': status1.open, 'fa-angle-right': !status1.open}"></i> Server Credentials
                        </accordion-heading>
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">Username</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="col-xs-10 col-sm-5" placeholder="Username" id="server-username" ng-model="server_credentials.username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="col-xs-10 col-sm-5" placeholder="Password" id="server-password" ng-model="server_credentials.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">Confirm Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="col-xs-10 col-sm-5" placeholder="Confirm Password" value="{{server_credentials.password}}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="serverAccordion.open">

                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right" ng-class="{'fa-angle-down': status2.open, 'fa-angle-right': !status2.open}"></i> OpenStack Database &amp; Queue Credentials
                        </accordion-heading>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="table table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form name="serviceCredForm">
                                            <a href="#">
                                                <tr ng-repeat="(service, credential) in service_credentials">
                                                    <td>
                                                        <span>{{service}}</span>
                                                    </td>
                                                    <td>
                                                        <span ng-hide="editServiceMode[$index]">{{credential.username}}</span>
                                                        <input ng-show="editServiceMode[$index]" ng-model="credential.username" placeholder="Username" type="text" ng-required />
                                                    </td>
                                                    <td>
                                                        <span ng-hide="editServiceMode[$index]">{{credential.password}}</span>
                                                        <input ng-show="editServiceMode[$index]" ng-model="credential.password" placeholder="Password" type="password" ng-required />
                                                        <input ng-show="editServiceMode[$index]" placeholder="Confirm Password" type="password" ng-required />
                                                    </td>
                                                    <td>
                                                        <!--edit button-->
                                                        <button ng-hide="editServiceMode[$index]" ng-click="editServiceMode[$index] = true; sEdit($index)" class="btn btn-xs btn-success rounded-button">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </button>
                                                        <!--save button -->
                                                        <button ng-show="editServiceMode[$index]" ng-click="editServiceMode[$index] = false; sSave()" class="btn btn-xs btn-primary rounded-button">
                                                            <i class="ace-icon fa fa-check bigger-120"></i>
                                                        </button>
                                                        <!--cancel button -->
                                                        <button ng-show="editServiceMode[$index]" ng-click="editServiceMode[$index] = false; sReset()" class="btn btn-xs btn-danger rounded-button">
                                                            <i class="ace-icon fa fa-times bigger-120"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </a>
                                        </form>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>

                    </accordion-group>

                    <accordion-group is-open="mgmtAccordion.open">
                        <accordion-heading>
                            <i class="ace-icon fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i> OpenStack Keystone User Credentials
                        </accordion-heading>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="table table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form name="managementCredForm">
                                            <tr ng-repeat="(service, credential) in management_credentials">
                                                <td>
                                                    <span ng-hide="editMgntMode[$index]">{{service}}</span>
                                                    <input ng-show="editMgntMode[$index]" ng-model="service" placeholder="Service" type="text" ng-required />
                                                </td>
                                                <td>
                                                    <span ng-hide="editMgntMode[$index]">{{credential.username}}</span>
                                                    <input ng-show="editMgntMode[$index]" ng-model="credential.username" placeholder="Username" type="text" ng-required />
                                                </td>
                                                <td>
                                                    <span ng-hide="editMgntMode[$index]">{{credential.password}}</span>
                                                    <input ng-show="editMgntMode[$index]" ng-model="credential.password" placeholder="Password" type="password" ng-required />
                                                    <input ng-show="editMgntMode[$index]" placeholder="Confirm Password" type="password" ng-required />
                                                </td>
                                                <td>
                                                    <!--edit button-->
                                                    <button ng-hide="editMgntMode[$index]" ng-click="mEdit($index)" class="btn btn-xs btn-success rounded-button">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </button>
                                                    <!--save button-->
                                                    <button ng-show="editMgntMode[$index]" ng-click="editMgntMode[$index] = false; mSave()" class="btn btn-xs btn-primary rounded-button">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>
                                                    <!--cancel button-->
                                                    <button ng-show="editMgntMode[$index]" ng-click="editMgntMode[$index] = false; mReset()" class="btn btn-xs btn-default btn-danger rounded-button">
                                                        <i class="ace-icon fa fa-times bigger-120"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </form>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                    </accordion-group>

                </accordion>

            </div>
        </div>
    </div>

</div>
