<div class="main-content">
    <div class="page-content">

        <div class="page-header">
            <h1>Create Cluster Wizard</h1>
        </div>

        <div id="create-cluster-wizard">
            <ul class="wizard-steps">
                <li ng-repeat="step in steps" class="{{step.state}}" ng-click="goToStep(step.id)">
                    <span class="step">{{step.id}}</span>
                    <span class="title">{{step.title}}</span>
                </li>
            </ul>
            <div class="space-10"></div>

            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5 class="widget-title">
                        {{steps[currentStep-1].title}}

                        <small ng-if="steps[currentStep-1].description"><i class="ace-icon fa fa-angle-double-right"></i> {{steps[currentStep-1].description}}</small>
                    </h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-32">
                        <div ng-include="steps[currentStep-1].template"></div>
                    </div>
                </div>
            </div>
            <div class="space-10"></div>

            <div class="wizard-actions">
                <div class="inline" ng-class="{'first-prev' : currentStep == 1}">
                    <button ng-click="stepBackward()" ng-disabled="currentStep==1" class="btn btn-grey btn-prev-spacing" ng-class="{'btn-light' : currentStep == 1}">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Prev
                    </button>
                </div>
                <button ng-click="stepForward()" class="btn btn-success btn-next">
                    <span ng-if="currentStep<steps.length">
                        Next
                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                    </span>
                    <span ng-if="currentStep==steps.length">Deploy</span>
                </button>
            </div>
        </div>

        <div ng-repeat="alert in alerts" class="popup-alert">
            <div class="gritter-item-wrapper gritter-error gritter-center">
                <div class="gritter-top"></div>
                <div class="gritter-item message">
                    <div class="gritter-close action pull-right" ng-click="alerts.splice($index, 1)"></div>
                    <div class="clearfix"></div>
                    <div class="gritter-without-image">
                        <p>
                            <span ng-if="!alert.message">Error</span>
                            <span ng-if="alert.message">{{alert.message}}</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gritter-bottom">
                </div>
            </div>
        </div>

    </div>
</div>
