<div class="bkg-fullscreen">
    <div class="login-dialogue">
        <div class="center">
            <img src="assets/img/logo1.png" style="margin-left: -50px; margin-bottom: 10px;" width="250px"></img>

        </div>

        <form class="login-form" name="loginForm" style="border-radius:7px">
            <fieldset>
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        <input type="text" placeholder="Email" ng-model="email" class="form-control" ng-enter="login()" set-Focus required>
                        <i class="ace-icon fa fa-user"></i>
                    </span>
                </label>

                <label class="block clearfix" style="margin-top: 8px">
                    <span class="block input-icon input-icon-right">
                        <input type="password" placeholder="Password" ng-model="password" class="form-control" ng-enter="login()" required>
                        <i class="ace-icon fa fa-lock"></i>
                    </span>
                </label>

                <div class="space"></div>

                <div class="clearfix">
                    <label class="inline">
                        <input type="checkbox" class="ace" ng-model="remember">
                        <span class="lbl">&nbsp;Remember Me</span>
                    </label>

                    <button class="width-35 pull-right btn btn-sm btn-primary" type="button" ng-click="login()" ng-disabled="loginForm.$invalid">
                        <i class="ace-icon fa fa-key"></i>
                        <span class="bigger-110">Login</span>
                    </button>
                </div>

                <div class="space-4"></div>
            </fieldset>
        </form>

        <div>
            <div class="space-4"></div>
            <alert ng-repeat="alert in alerts" type="danger" close="closeAlert()">
                <span ng-if="alert.message">
                    {{alert.message}}
                </span>
                <span ng-if="!alert.message">
                    Unknown error
                </span>
            </alert>
            <div class="space-4"></div>
        </div>
    </div>

</div>