<tr class="switch_row" <% this %>>
  <td><input type="input" class="switchIp non-empty-value rounded" placeholder="Switch IP"> </td>
  <td>
    <select class="snmp">
      <option>v1</option>
      <option selected>v2c</option>
    </select>
    <input type="input" class="username non-empty-value rounded" placeholder="Username" style="display:none">
  </td>
  <td>
    <input type="password" class="community non-empty-value rounded" placeholder="Community">
    <input type="password" class="password non-empty-value rounded" placeholder="Password" style="display:none">
  </td>
  <td><div class='add'></div><div class='remove'></div></td>
</tr>
