<h2>Configure host names of the servers you just selected</h2>
<p>
  Enter host names and IP addresses for each of the servers attached to the network switches and ports listed.
</p>
<div class="rounded" style="padding-top: 10; padding-bottom: 5px">
  <div class="float_left">Switch IP</div>
  <div class="float_right">
    <a href="javascript: void(0)" id="auto_fill" style="padding-right:20px">Fill values</a>
    <a id="clear-hostconfig" href="javascript: void(0)">Clear</a>
  </div>
  <div class="clear"> </div>
  <div id="dialog-confirm" title="Fill values">

    <div>
      <input type="radio" name="fillType" value="autofill" checked> <span class="radioText">Auto fill</span>
      <div id="autofill-panel">
        <div class="float_left">
          <p>Management IP</p>
          <p>Tenant IP</p>
          <p>Host name</p>
        </div>
        <div class="float_left" style="padding-left:10px">
          <p>
            <select id="management-auto">
              <option value="1">Increase by 1</option>
              <option value="2">Increase by 2</option>
              <option value="3">Increase by 3</option>
              <option value="4">Increase by 4</option>
              <option value="5">Increase by 5</option>
            </select>
          </p>
          <p>
            <select id="tenant-auto">
              <option value="1">Increase by 1</option>
              <option value="2">Increase by 2</option>
              <option value="3">Increase by 3</option>
              <option value="4">Increase by 4</option>
              <option value="5">Increase by 5</option>
            </select>
          </p>
          <p>
            <select id="hostname-auto">
              <option value="Host">Host</option>
              <option value="Switch IP">Switch IP</option>
              <option value="Switch alias">Switch alias</option>
            </select>
          </p>
        </div>
      </div>
      <div class="clear"></div>
      <input type="radio" name="fillType" value="customize"> <span class="radioText">Customize</span>
      <div id="customize-panel" style="display:none">
        <div class="float_left">
          <p>Management IP</p>
          <p>Tenant IP</p>
          <p>Host name</p>
        </div>
        <div class="float_left" style="padding-left:10px">
          <p>
            <input id="management-customize" class="rounded" placeholder="eg: [{port}*2]" title="Available patterns: {swIpPart1}, {swIpPart2}, {swIpPart3}, {swIpPart4}, {port}">
          </p>
          <p>
            <input id="tenant-customize" class="rounded" placeholder="eg: [{port}*2+1]" title="Available patterns: {swIpPart1}, {swIpPart2}, {swIpPart3}, {swIpPart4}, {port}">
          </p>
          <p>
            <input id="hostname-customize" class="rounded" placeholder="eg: sv-[{mgtIpPart4}*2].3"  title="Available patterns: {swIpPart1}, {swIpPart2}, {swIpPart3}, {swIpPart4}, {port}, {mgtIpPart1}, {mgtIpPart2}, {mgtIpPart3}, {mgtIpPart4}, {tntIpPart1}, {tntIpPart2}, {tntIpPart3}, {tntIpPart4}">
          </p>
        </div>
      </div>
    </div>
    <!--<span class="pattern-tip ui-icon ui-icon-info" style="float: right; margin: 6px 19px 4px 7px;" data-geo="info-ico">-->
  </div>

  <div>
    <div class="float_left switch-navs" style="padding-top: 20px;">

    </div>
    <div class="rounded float_left server-panels">
      <div id="tab1" class="tab_panel_active">
        <table id="hostconfig-table">
          <thead>
            <tr>
              <th>Port</th>
              <th>Host name</th>
              <th>Management IP</th>
              <th>Tenant IP</th>
              <th>Roles</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>

<br>
<div class="rounded partition-div" style="padding-top:10px;">
  <p>
    Logical Volume Partition (Total partition percentage should not exceed 100%)
  </p>
  <div class="float_left" style="width: 18%">
    tmp: <input id="tmp" class="rounded integer non-empty-value" onkeypress="return isNumber(event)" value="10" style="width: 80px">%
  </div>
  <div class="float_left" style="width: 18%">
    var: <input id="var" class="rounded integer non-empty-value" value="30" style="width: 80px">%
  </div>
  <div class="float_left" style="width: 18%">
    home: <input id="home" class="rounded integer non-empty-value" value="20" style="width: 80px">%
  </div>
  <div class="float_left" style="width: 18%">
    spare: <input id="spare" class="rounded" value="40" style="width: 80px; background-color: lightGrey" disabled="true">%
  </div>
  <div class="float_left" style="width: 28%">
    <div class="errhint" style="display: none">
      The spare value should be greater than 30%.
    </div>
  </div>
  <div class="clear"></div>

</div>
<div class="continue"><center>
  <a href="#" class="go-back hostconfig-back" >Go back</a>
  <a href="/web/install_review/" class="btn_continue hostconfig-finish">Continue</a>
  <img id="continuing" class="loading" src="../img/ajax_loader.gif" height="30px" width="30px"></img><br>
  <div id="hostconfig_continue_err" style="display:none;padding-top:10px"></div>
</center></div> 
